<div id="main-nav" class="main-nav" role="navigation">
  <div class="container">

    <form role="search" method="GET" action="/search" class="form-inline">
      <div class="form-group">
        <input type="text" class="form-control" name="query" placeholder="Search">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success"><span class="icon-pubmed"></span></button>
      </div>
    </form>

  </div>
</div>
