{
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "jQuery": false,
    "$": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "no-console": 0
  }
}
