{
  "plugins": ["react"],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "15.1.0"
    }
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "commonjs": true,
    "node": true,
    "browser": true
  },
  "globals": {
    "globals": true,
    "React": true
  },
  "extends": ["eslint:recommended"],
  "rules": {
    "no-console": 1,
    "no-case-declarations": 0,
    "no-unused-vars": [2, { "varsIgnorePattern" : "React" }],
    "semi": [2, "never"],
    "comma-dangle": [2, "always-multiline"],
    "react/jsx-uses-vars": 1,
  }
}
