{{!< default}}

<div class="container">
  <h1>About Monocle</h1>
  <ul class="nav nav-pills">
    <li><a href="/">&lt; Back home</a></li>
    <li><a href="#credits">Credits</a></li>
    <li><a href="#contributing">Contributing</a></li>
    <li><a href="#bugs">Reporting bugs</a></li>
    <li><a href="#licence">Licence</a></li>
  </ul>

  <hr />
  <h2 id="credits">Credits</h2>
  <p>Monocle is written by <a href="http://www.caseyy.org">Casey Ydenberg</a>, and inspired by <a href="http://oa-sandbox.org">OA Sandbox</a>, written by Ivan Grubisic, Jennifer Lin, Jennifer Song, Polina Grinbaum and Casey Ydenberg.</p>
  <p>Monocle depends on numerous open-source projects, but especially <a href="http://lens.elifesciences.org/">eLife Lens</a>, written bu Ivan Grubisic, Michael Aufreiter and eLife.</p>
  <p>Homepage backgrounds are CC-BY from <a href="http://www.cellimagelibrary.org/">The Cell: an Image Library</a>. Full credits:</p>
  <ul>
    <li><a href="http://www.cellimagelibrary.org/images/35618">Actin, alpha-cadherin, Myosin and adherens junctions in human keratinocyte</a></li>
    <li><a href="http://www.cellimagelibrary.org/images/187">Drosophila spermatid cells</a></li>
    <li><a href="http://www.cellimagelibrary.org/images/7245">HeLa cells in mitosis</a></li>
  </ul>
  <p>

  <hr />
  <h2 id="contributing">Contributing</h2>
  <p>Contributions are welcome! Please see the <a href="https://github.com/CAYdenberg/monacle">Github repo</a> for instructions on how to set up a development environment.</p>

  <hr />
  <h2 id="bugs">Reporting bugs or making suggestions</h2>
  <p>If you would like to report a bug or have any suggestions on making Monocle better, please do so through the <a href="https://github.com/CAYdenberg/monacle/issues">issue tracker on GitHub.</a></p>

  <hr />
  <h2 id="licence">Licence</h2>
  <p>Copyright (c) 2015 Casey A. Ydenberg</p>

  <p>Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:</p>

  <p>The above copyright notice and this permission notice shall be included in
  all copies or substantial portions of the Software.</p>

  <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
  THE SOFTWARE.</p>

  <hr />
  <h2>Now, <a href="/">go search</a> already.</h2>

</div>
