{{!< default}}

{{> nav}}

<div class="container-fluid">
  <div class="row">

    <div class="col-sm-12 col-md-6 citation-list" id="citations"></div>

    <div class="col-md-6 single-citation" id="single-citation"></div>

  </div>
</div>
