{{!< default}}

<div id="main-nav" class="navmenu navmenu-inverse navmenu-fixed-left offcanvas-xs main-nav" role="navigation">
  <div class="nav navmenu-nav">

    <div id="account-area" class="account-area" data-user="{{user}}"></div>

    <form role="search" method="GET" action="/search">
      <div class="form-group">
        <input type="text" class="form-control" name="query" placeholder="Search">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success"><span class="icon-pubmed"></span></button>
      </div>
    </form>

    <div id="folders" class="folders"></div>

  </div>

  <footer class="navbar-footer">
    {{>footer}}
  </footer>
</div>

<div id="mobile-nav" class="navmenu navmenu-inverse navmenu-fixed-left visible-xs mobile-nav" data-toggle="offcanvas" data-target="#main-nav" data-canvas="body">
  <button type="button" class="navbar-toggle">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>

<div class="container-fluid">
  <div class="row">

    <div class="col-sm-12 col-md-6 citation-list" id="citations"></div>

    <div class="col-md-6 single-citation" id="single-citation"></div>

  </div>
</div>
