{{!< default}}

<div class="container">

  <h1>Contact</h1>

  <h3>Come build with us! OA Sandbox is a community space welcome to all.</h3>
  <p>We hope to continue to build out the sandbox with a wide set of scholarly communication tools. </p>
  <p>Areas of interest include but are not limited to: 
    <ul><li>discovery (search, visualization-based interactivity, article-level metrics, article recommendations)</li>
      <li>semantic enrichment</li>
      <li>annotation, etc.</li> 
    </ul>
  </p>
  <p>It is a great opportunity for developers to test their applications on the broadest set of open content available today (~3 million articles) and let the scholarly community use it & provide feedback.</p>
  <p>If you are interested in contributing to the suite of tools applied to PMC content, please contact <a href="http://www.linkedin.com/pub/ivan-grubisic/26/353/739">Ivan Grubisic</a> or <a href="mailto:jlin@plos.org">Jennifer Lin</a>. </p>
  <p>General feedback is also welcome.</p>

</div>

