{{!< default}}

<div class="jumbotron jumbotron-landing intro">
    <div class="container">
      <h1>OA Sandbox</h1>
      <h2></h2>
      <p>PMC revisualized: With its modern web-based interface, Lens makes reading scientific articles easier. Explore figures, figure descriptions, references and more - all with the article in full view.</p>
      <form method="GET" action="search" class="">
       <div class="form-inline home-search">
        <label for="search" class="">Search based on PMCID, author, title, and keyword to find articles to read in Lens PMC. <br/>
        Not all articles are Open Access in PMC. Due to copyright, these papers are not available in full.</label>
        <div class="input-append">
        <input id="search" class="input-lg" type="text" placeholder="Enter a PubMed search query" name="query">
      
        <button type="submit" class="btn btn-default" id="search-button">Search</button>
        </div>
      </div>
    </form>
  

  </div>
</div>


<!--end Carousel-->

<!-- START THE FEATURETTES -->

<div class="container">
  <div class="row">
    <div class="span6">
      <h2>Web native tools. <span class="">(Like it's 2014).</span></h2>
      <p class="lead">OA Sandbox integrates the newest tools created to enhance discovery, discussion, and engagement with the research that you need.</p>
      <a class="btn btn-success" href="about.html" role="button">Learn more</a>
    </div>

    <div class="span6">
      <h2>Contribute to the sandbox.</h2>
      <p class="lead">Develop with us: build, apply, and test your software with the full corpus of PMC content for the whole biomedical and life sceience community.</p>
      <a class="btn btn-success" href="contact.html">Come build with us</a>
    </div>
  </div>
</div>