{{!< default}}

{{> nav}}

<div class="container-fluid">
  <h1>Your Profile</h1>

  <h2>Manage Your Folders</h2>

  <ul class="manage-folders-list">
    {{#each folders}}
      <li>{{this.name}} <small><a href="#" class="delete-folder" data-delete="{{this.slug}}">Delete</a></li></small>
    {{/each}}
  </ul>

</div>
