{{!< default}}

<div class="jumbotron jumbotron-landing intro">
  <div class="container">
    <h1>Sign up now</h1>
    <h2></h2>
    <form method="POST" action="/users/new/" class="">
      <input id="email" type="email" placeholder="Email address" name="username" />
      <input id="password" type="password" placeholder="Password" name="password" />
      <button type="submit" class="btn btn-default" id="search-button">Search</button>
    </form>
  </div>
</div>