@import "../node_modules/bootstrap/less/variables.less";
@import "../node_modules/bootstrap/less/mixins.less";

// Reset and dependencies
@import "../node_modules/bootstrap/less/normalize.less";

// Core CSS
@import "../node_modules/bootstrap/less/scaffolding.less";
@import "../node_modules/bootstrap/less/type.less";
@import "../node_modules/bootstrap/less/grid.less";
@import "../node_modules/bootstrap/less/tables.less";
@import "../node_modules/bootstrap/less/forms.less";
@import "../node_modules/bootstrap/less/buttons.less";

// Components
@import "../node_modules/bootstrap/less/component-animations.less";
@import "../node_modules/bootstrap/less/dropdowns.less";
@import "../node_modules/bootstrap/less/navs.less";
@import "../node_modules/bootstrap/less/navbar.less";
@import "../node_modules/bootstrap/less/pagination.less";
@import "../node_modules/bootstrap/less/jumbotron.less";
@import "../node_modules/bootstrap/less/progress-bars.less";
@import "../node_modules/bootstrap/less/panels.less";


// Components w/ JavaScript
@import "../node_modules/bootstrap/less/modals.less";

// Utility classes
@import "../node_modules/bootstrap/less/utilities.less";
@import "../node_modules/bootstrap/less/responsive-utilities.less";


@import "../node_modules/bootswatch/journal/variables.less";
@import "../node_modules/bootswatch/journal/bootswatch.less";


/*=================================
* VARIABLES
=================================*/

@font-size-base: 18px;

@font-size-h4: ceil((@font-size-base * 1.1));
@font-size-h5: ceil((@font-size-base * 0.85));

@navbar-inverse-color: white;
@navbar-inverse-bg: transparent;
@navbar-inverse-link-hover-bg: rgba(0, 0, 0, 0.5);


/*=================================
* GENERAL
=================================*/


a {
	text-decoration: none !important;
}

.progress-bar {
	width: 100%;
	height: 30px;
	border-radius: 15px;
	border: 1px solid @gray-light;
	margin-top: @padding-base-vertical;
	margin-bottom: @padding-base-vertical;
}

.margin-vertical {
	margin-top: ceil(@line-height-computed);
	margin-bottom: ceil(@line-height-computed);
}

.horizontal-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	&>li {
		display: inline-block;
		padding-right: 10px;
	}
	&>li:last-child {
		padding-right: 0;
	}
}

.waiting {
	cursor: wait;
	button {
		opacity: 0.7;
		font-style: italic;
	}
}

/*================================
* APP ACCORDION
=================================*/

.citation-panel-wrapper {
	height: 100vh;
	padding-top: 75px;
	overflow: hidden;
	@media (min-width: @screen-md) {
		width: 50%;
		float: left;
	}
}

.citation-panel {
	height: 100%;
	padding: 15px;
	overflow-y: scroll;
}

@media (min-width: @screen-md) {
	.paper-details {
		display: none;
	}
	.citation-list .panel-body {
		display: none;
	}
	.paper-details {
		display: block;
	}
}

.panel-heading {
	background: @gray-lighter;
	color: @gray-dark;
	h4, h5 { color: inherit }
	a:hover &,
	a[aria-expanded=true] & {
		color: @brand-primary;
	}
}

.author-list {
	font-weight: inherit;
}

.year {
	font-weight: 700;
}


/*================================
Alert Area
=================================*/

.alert-area-wrapper {
	position: fixed;
	top: 0;
	z-index: 10000;
}

/* ===============================
* NAVIGATION
=============================== */

.main-nav {
	position: fixed;
	top: 0;
	width: 100%;
	background: @gray-dark;
	color: white;
	padding: 15px;
}


/*=================================
* LANDING PAGE
=================================*/

body.home {
	min-height: 100%;
}

header {
	padding-top: 15px;
}

.jumbotron-landing {
	height: 100vh;
	margin-bottom: 0;
	color: white;
	&.background-1 { background-image: url(../img/187.jpg); }
	&.background-2 { background-image: url(../img/7245.jpg); }
	&.background-3 { background-image: url(../img/35618.jpg); }
	background-size: cover;
	h1 {
		color: inherit;
	}
}

label[for="home-searchbox__input"] {
	display: none;
}

.navbar {
	font-size: inherit;
}

.page-footer {
	background: @gray-dark;
	color: white;
	padding: (@line-height-computed) 0;
}
